.fc-toolbar-title {
    text-transform: capitalize !important;
}

a.fc-col-header-cell-cushion,
a.fc-daygrid-day-number {
    text-decoration: none;
}

a.fc-col-header-cell-cushion {
    text-transform: capitalize;
}

.fc-event-title {
    font-weight: normal !important;
    font-size: medium;
    text-wrap: auto;
}

.fc .fc-button-primary {
    background-color: #8e4214;
}

.fc .fc-button-primary:hover {
    background-color: #fff;
    color: #8e4214;
    border: 2px solid #8e4214;
}

.fc .fc-button {
    border: 2px solid #8e4214;
}